.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background-color: hsl(240, 5%, 92%);
  width: 90%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important; /*Because MaterialUI tries to impose column*/
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
